<h2 align="center">Title: <%= @article.title %></h2>
<h4 align="center">Category: <%= @article.category.name %></h4>

<div class="well col-xs-8 col-xs-offset-2">
    <% if @article.user %>
        <ul class="listing">
            <div class="row" align="center">
                <div class="col-md-4 col-md-offset-4">
                    <li>
                        <%= link_to image_tag("https://imgur.com/7XYwWuy.png", alt: @article.user.username), user_path(@article.user) %>
                    </li>
                    <li class="article-title">
                        <%= link_to @article.user.username, user_path(@article.user) %>
                    </li>
                    <li>
                        <small>
                            <%= pluralize(@article.user.articles.count, "article") if @article.user.articles %>
                        </small>
                    </li>
                </div>
            </div>
        </ul>
    <% end %>
    <h4 class="center description"><strong>Description:</strong></h4>
    <hr>
    <%= @article.description %>
</div>

<div class="btn-group-fab" role="group" aria-label="FAB Menu">
    <% if current_user == @article.user %>
        <%= button_to edit_article_path(@article), class: "btn btn-main btn-primary has-tooltip btn-first", method: :get do %>
            <i class="fa fa-pencil"></i>
        <% end %>
        <%= button_to article_path(@article), method: :delete, data: { confirm: "Are you sure you want to delete this article?"}, class: "btn btn-main btn-primary btn-second btn-primary has-tooltip", method: :get do %>
            <i class="fa fa-trash"></i>
        <% end %>
    <% end %>
</div>
