<h1 align="center">Welcome to <%= @user.username %>'s page</h1>
<div class="row" align="center">
    <div class="col-md-4 col-md-offset-4 center">
        <%= image_tag("https://imgur.com/7XYwWuy.png", alt: @user.username) %>
    </div>
</div>
<h4 align="center"><%= @user.username %>'s articles</h4>
<%= render 'shared/article', obj: @user.articles %>
<div align="center">
    <%= will_paginate @user_articles %>
</div>
