<% obj.each do |article| %>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="well well-lg">
                <div class="article-title">
                    <%= link_to article.title, article_path(article) %>
                </div>
                <div class="article-body">
                    <%= article.description %>
                    <div class="article-meta-details">
                        <small>
                            Created by:
                            <%=
                                if article.user
                                    link_to article.user.username, user_path(article.user)
                                end
                            %>
                            , Category:
                            <%=
                                if article.category
                                    link_to article.category.name, category_path(article.category)
                                end
                            %>,
                            <%= time_ago_in_words(article.created_at) %> ago,
                            last updated: <%= time_ago_in_words(article.updated_at) %> ago
                        </small>
                    </div>
                </div>
                <div class="article-actions">
                    <% if current_user == article.user %>
                        <%= link_to "Edit", edit_article_path(article), class: "btn btn-xs btn-primary" %>
                        <%= link_to "Delete", article_path(article), method: :delete, data: { confirm: "Are you sure you want to delete this article?"}, class: "btn btn-xs btn-danger" %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
<% end %>
<div class="btn-group-fab" role="group" aria-label="FAB Menu">
    <% if logged_in?%>
        <%= button_to new_article_path, class: "btn btn-main btn-primary has-tooltip btn-first", method: :get do %>
            <i class="fa fa-plus"></i>
        <% end %>
    <% end %>
</div>
