<div class="container">
    <h1>About Blog</h1>
    <img src="https://media1.tenor.com/images/cc63a036b412db9d0c0c5259174ac0c7/tenor.gif" alt="Eevee dance" class="img-thumbnail">
    <p><br>Dashblog is created by <a hred="https://t.me/OlexiyUA">dashbug</p> 
</div>
