<div class="container">
    <h1>Welcome to dashblog,
        <%=
            if logged_in?
                current_user.username
            else
                "Anonymous"
            end
        %>
    </h1>
    <% if logged_in? %>
        <br>
        <%= button_to 'Sign out', logout_path, class: "btn btn-lg btn-outline-secondary", method: :delete %>
    <% else %>
        <br>
        <%= button_to 'Sign in', login_path, class: "btn btn-lg btn-outline-secondary", method: :get %>
        <br>
        <%= button_to 'Sign up', signup_path, class: "btn btn-lg btn-outline-secondary", method: :get %>
        <br><br>
    <% end %>
    <br>
    <%= button_to 'Articles', articles_path, class: "btn btn-lg btn-outline-secondary", method: :get %>
    <br>
    <%= button_to 'Members', users_path, class: "btn btn-lg btn-outline-secondary", method: :get %>
    <br>
    <%= button_to 'About', about_path, class: "btn btn-lg btn-outline-secondary", method: :get %>
</div>
