// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

#logo
{
    float: left;
    font-size: 1.7em;
    color: black;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#logo:hover
{
    color: #555;
    text-decoration: none;
}

body
{
    overflow-x: hidden;    
}

.fixed-top
{
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 500;
}

.well
{
    background-color: #eff;
    border-color: #3cf;
}

.article-actions
{
    border-top: 1px solid #eaeaea;
    padding-top: 5px;
}

.article-title
{
    font-weight: bold;
    font-size: 1.5em;
}

.article-body
{
    border-top: 1px solid #eaeaea;
    padding-top: 15px;
    padding-bottom: 15px;
}

.article-meta-details
{
    border-top: 1px solid #eaeaea;
    margin-top: 15px;
}

.listing
{
    list-style: none;
    padding-left: 0;
}

.navbar
{
    background-color: #eff;
}

.btn-group-fab
{
  position: fixed;
  width: 50px;
  height: auto;
  right: 20px; bottom: 20px;
}

.btn-group-fab div
{
  position: relative; width: 100%;
  height: auto;
}

.btn-group-fab .btn
{
    position: absolute;
    border-radius: 50%;
    display: block;
    margin-bottom: 4px;
    width: 40px;
    height: 40px;
    margin: 4px auto;
}

.btn-group-fab .btn-main
{
    width: 50px;
    height: 50px;
    right: 50%;
    margin-right: -25px;
    z-index: 9;
}

.btn-first
{
    bottom: 0;
}

.btn-second
{
  bottom: 60px;
}
