<nav class="navbar navbar-default fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <%= link_to "dashblog", root_path, class: "navbar-brand", id: "logo" %>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <%= link_to "Articles", articles_path %>
                </li>
                <li>
                    <%= link_to "Members", users_path %>
                </li>
                <li>
                    <%= link_to "Categories", categories_path %>
                </li>
                <li>
                    <%= link_to "Create Article", new_article_path if logged_in? %>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <% if logged_in? %>
                    <li>
                        <%= link_to current_user.username, user_path(current_user) %>
                    </li>
                    <li>
                        <%= link_to "Sign out", logout_path, method: :delete %>
                    </li>
                <% else %>
                    <li>
                        <%= link_to "Sign in", login_path %>
                    </li>
                    <li>
                        <%= link_to "Sign up", signup_path %>
                    </li>
                <% end %>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
